<!DOCTYPE html>
<html class="no-js" lang=""
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:text="#{userConsole.title.label}">Title</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/signin.css" />
    <link rel="manifest" href="site.webmanifest"/>
    <link rel="apple-touch-icon" href="icon.png"/>
</head>

<body>
<div class="container">
    <h1 th:text="#{userConsole.title.label}">Title</h1>
    <p><a th:href="@{/services/console/clients}" th:text="#{userConsole.clientRegistration.link}">Client Registrations</a></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>